@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    --color-primary: #FFFFFF;
    --color-secondary: #0F172B;
    --color-accent: #00A63E;
    --color-gradient : linear-gradient(135deg, rgba(0, 166, 62, 0.80) 0%, rgba(28, 57, 142, 0.90) 100%);
    --font-Inter: 'Inter';

    
}
